.adding-todo{
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.adding-todo form{
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 4em 5em;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}

.adding-todo input, select {
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px 20px;
}


@media (max-width: 992px) {
  .adding-todo form {
    box-shadow: none;
    border: none;
    padding: 4em 1em;
    border-radius: 0px;
  }

  .adding-todo{
    padding: 10em 0em;
  }

}
