.nav-link{
  padding: 8px 15px !important;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.underline{
  position: relative;
}

.burger-menu{
  color: black;
  font-weight: bold;
  font-size: 24pt;
  list-style: none;
  text-transform: none;
}
.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 4px;
  background-color: #0074D9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.dropdown-item {
  display: flex;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

