.app {
  margin-top: 5px;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  flex-grow:1;
  display: flex;
  justify-content:center;
  flex-direction:column;
  min-height: 92vh;
  border-bottom: 2px solid #279ef1;
}

@media screen and (max-width: 992px) {
 .app{
   background-attachment: scroll;
 }
}



