<div
  class="home d-flex flex-column-reverse flex-md-row justify-content-center justify-content-md-around align-items-center">
  <div class="welcome-text-container d-flex flex-column align-items-center align-items-xl-start fw-bold animate__animated animate__fadeIn mt-5 mt-md-0">
    <h1 class="fw-bold text-uppercase pt-5 mb-5 text-center">Bienvenue sur TODOAPP</h1>
    <h2 class="text-center text-md-start">Lister vos tâches simplement ! </h2>
  </div>
  <div class="welcome-image-container animate__animated animate__fadeIn">
    <img class="img-fluid" src="../../../assets/todoicon.png" alt="todoicon">
  </div>
</div>
