
.welcome-text-container h1 {
  font-size: 3.5em;
  white-space: nowrap;
  word-wrap: break-word;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 992px) {
  .welcome-text-container h1 {
    font-size: 1.5em;
  }
  .home{
    padding-top: 10em;
    padding-bottom: 10em;
  }
}

@media screen and (max-width: 500px) {
  .home{
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.welcome-text-container h2 {
  font-size: 20pt;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

img {
  animation: bouger 2s ease-in-out infinite;
  width: 260px;
}


@media screen and (max-width: 992px) {
  img{
    width: 170px;
  }
  .welcome-text-container[_ngcontent-owb-c17] h2[_ngcontent-owb-c17] {
    font-size: 10pt !important;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
}

@keyframes bouger {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
