<div class="my-account row animate__animated animate__fadeIn">
  <div class="my-account-informations">
    <h1>MES INFORMATIONS</h1>
    <div class="my-account-informations-recap">
      <div class="my-account-informations-image">
        <div class="my-account-informations-image-container">
          <img src="https://cutt.ly/Y89B5ih" alt="profile-image">
        </div>
      </div>
      <div class="my-account-informations-pseudo gap-3">
        <h2>Pseudo:</h2>
        <p>{{user?.username}}</p>
      </div>
      <div class="my-account-informations-email gap-3">
        <h2>Email :</h2>
        <p>{{user?.email}}</p>
      </div>
      <div class="my-account-informations-password gap-3">
        <h2 class="mt-0">Mot de passe :</h2>
        <p>******************</p>
      </div>
    </div>
  </div>
</div>
